* {
  border: none;
  margin: 0;
  padding: 0;
  z-index: 0;
}

a, a:hover, a:visited {
  color: #d0d0d0;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.header {
  width: clamp(345.6px, 96vmin, 403.2px);
  margin: clamp(6.4px, 1vmax, 9px);
  margin-bottom: clamp(5.12px, 0.8vmax, 7.2px);
  margin-left: auto;
  margin-right: auto;
}

.header > div {
  background: #f2f2f2;
  display: flex;
  margin-left: 0;
  margin-right: clamp(7.2px, 2vmin, 8.4px);
}

.header > div > div {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  flex: 1 1 0;
}
.header > div > :first-child {
  text-align: left;
}
.header > div > :not(:first-child):not(:last-child) {
  text-align: center;
}
.header > div > :last-child {
  text-align: right;
}

.header select {
  background: #f2f2f2;
  color: navy;
  font: bold clamp(14.4px, 4vmin, 16.8px) 'New Times Roman';
  width: clamp(111.6px, 31vmin, 130.2px);
}

.header .center {
  overflow: hidden;
}
.header .center > div {
  position: relative;
}
.header .center > .slide-up {
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
}

.header .title {
  font: bold clamp(18px, 5vmin, 21px) 'New Times Roman';
}
.header .game-selection {
  color: navy;
  font: normal clamp(14.4px, 4vmin, 16.8px) 'New Times Roman';
}

.header .buttons {
  display: flex;
  justify-content: space-evenly;
}
.header .buttons > button {
  display: block;
  padding: 0 clamp(5.4px, 1.5vmin, 6.3px) clamp(1.8px, 0.5vmin, 2.1px) clamp(5.4px, 1.5vmin, 6.3px);

  border: 1px outset #eaeaea;
  border-radius: clamp(3.6px, 1vmin, 4.2px);
}
.header .buttons > :first-child {
  margin: 0 auto 0 0 !important;
}
.header .buttons > :not(:first-child):not(:last-child) {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.header .buttons > :last-child {
  margin: 0 0 0 auto !important;
}

@font-face {
  font-family: 'Digital-7 Mono';
  src: url('fonts/digital-7.mono.ttf');
}

.header .buttons > .timer {
  display: inline-block;
  font: normal clamp(16.2px, 4.5vmin, 18.9px) 'Digital-7 Mono';
  margin: auto;
}

.header .buttons > button::after {
  display: inline-block;
  font: normal clamp(14.4px, 4vmin, 16.8px) 'New Times Roman';
}
.header .restart::after {
  /* U+21BB ↻*/
  content: '↻';
}
.header .settings::after {
  /* U+2699 ⚙ */
  content: '⚙';
}

.board {
  width: clamp(352.8px, 98vmin, 411.6px);
  margin: 0 auto;
}

.grid {
  padding-left: clamp(5.76px, 1.6vmin, 6.72px);
  width: 100%;
  text-align: center;
}

.grid .row {
  display: flex;
}

.grid .cell {
  aspect-ratio: 1 / 1;
  border: solid lightgrey;
  border-width: 1px 0 0 1px;
  position: relative;
  width: clamp(36px, 10vmin, 42px);
}

.grid .cell.focused {
  z-index: 1;
  outline: auto #6666ff;
}
.grid .cell.same {
  background-color: #ffccff;
}

.grid .cell .value.if-1st,
.assumption.if-1st {
  background-color: #ccffcc;
}
.grid .cell .value.if-2nd,
.assumption.if-2nd {
  background-color: #ccccff;
}
.grid .cell .value.if-3rd,
.assumption.if-3rd {
  background-color: #ffcccc;
}

.grid .row-1 .cell,
.grid .row-1 .y-axis {
  border-top-width: 2px !important;
}

.grid .row-3 .cell, .grid .row-6 .cell {
  border-bottom-width: 1px !important;
}

.grid .row-9 .cell {
  border-bottom-width: 2px !important;
}

.grid .col-A {
  border-left-width: 2px !important;
}

.grid .col-C, .grid .col-F {
  border-right-width: 1px !important;
}

.grid .col-I {
  border-right-width: 2px !important;
}

.cell-A1, .cell-B1, .cell-C1,
.cell-A2, .cell-B2, .cell-C2,
.cell-A3, .cell-B3, .cell-C3,
.cell-D4, .cell-E4, .cell-F4,
.cell-D5, .cell-E5, .cell-F5,
.cell-D6, .cell-E6, .cell-F6,
.cell-G7, .cell-H7, .cell-I7,
.cell-G8, .cell-H8, .cell-I8,
.cell-G9, .cell-H9, .cell-I9 {
  background-color: #efffef;
}

.cell-D1, .cell-E1, .cell-F1,
.cell-D2, .cell-E2, .cell-F2,
.cell-D3, .cell-E3, .cell-F3,
.cell-G4, .cell-H4, .cell-I4,
.cell-G5, .cell-H5, .cell-I5,
.cell-G6, .cell-H6, .cell-I6,
.cell-A7, .cell-B7, .cell-C7,
.cell-A8, .cell-B8, .cell-C8,
.cell-A9, .cell-B9, .cell-C9 {
  background-color: #ffefff;
}

.cell-G1, .cell-H1, .cell-I1,
.cell-G2, .cell-H2, .cell-I2,
.cell-G3, .cell-H3, .cell-I3,
.cell-A4, .cell-B4, .cell-C4,
.cell-A5, .cell-B5, .cell-C5,
.cell-A6, .cell-B6, .cell-C6,
.cell-D7, .cell-E7, .cell-F7,
.cell-D8, .cell-E8, .cell-F8,
.cell-D9, .cell-E9, .cell-F9 {
  background-color: #efefff;
}

.grid .cell .value {
  font: bold clamp(21.6px, 6vmin, 25.2px) 'New Times Roman';
  position: relative;
  top: 50%;
  margin: auto;
  width: 88%;
  transform: translateY(-50%);
}

.grid .cell .value.given {
  color: black;
}

.grid .cell .value.pending {
  font: normal clamp(14.4px, 4vmin, 16.8px) 'New Times Roman';
  color: grey;
  position: relative;
  top: 28%;
}

.grid .cell .value.solved {
  color: blue;
}

.grid .cell .eliminated:not(:empty)::before {
  content: '-';
}
.grid .cell .eliminated {
  font: normal clamp(11.52px, 3.2vmin, 13.44px) 'New Times Roman';
  color: #999999;
  position: relative;
  top: 10%;
}

.grid .cell .cross {
  background-color: #ffccff;
  position: absolute;
  margin: auto;
  z-index: 1;
}
.grid .cell .cross.row {
  left: 6%;
  width: 88%;
  height: clamp(3.6px, 1vmin, 4.2px);
}
.grid .cell .cross.column {
  left: 45%; /* 50% - (1vmin / 10vmin) / 2 */
  top: 6%;
  width: clamp(3.6px, 1vmin, 4.2px);
  height: 88%;
}

.grid .coord {
  border: solid white;
  border-width: 1px 0 0 1px;

  color: lightgrey;
  font: bold clamp(11.52px, 3.2vmin, 13.44px) 'New Times Roman';
}

.grid .x-axis .coord {
  width: clamp(36px, 10vmin, 42px);
}

.grid .y-axis {
  aspect-ratio: 1 / 4;
  text-align: left;
}

.grid .y-axis .value {
  position: relative;
  top: 50%; left: 25%;
  transform: translateY(-50%);
}

.keys {
  display: flex;
  margin: clamp(10.8px, 3vmin, 12.6px) auto 0 auto;
  padding-right: 1%;
  width: 97%;
  text-align: center;
}
.keys > :last-child {
  margin-left: clamp(7.2px, 2vmin, 8.4px) !important;
}

.keys .key {
  aspect-ratio: 1 / 1;
  width: clamp(28.8px, 8vmin, 33.6px);
  position: relative;
  margin: clamp(1.8px, 0.5vmin, 2.1px);

  border: 1px outset #eaeaea;
  border-radius: clamp(3.6px, 1vmin, 4.2px);

  color: grey;
  font: normal clamp(23.4px, 6.5vmin, 27.3px) 'Arial';
  cursor: pointer;
}
.keys .key.key-mode-ctrl {
  aspect-ratio: 5 / 4;
  width: clamp(23.04px, 6.4vmin, 26.88px);
}

.keys .key.key-mode-ctrl > div {
  font: normal clamp(14.4px, 4vmin, 16.8px) 'Arial';
  position: absolute;
  z-index: 1;
}
.keys .key.key-mode-ctrl .value.from-mode {
  top: clamp(9px, 2.5vmin, 10.5px);
  left: clamp(1.08px, 0.3vmin, 1.26px);
}
.keys .key.key-mode-ctrl .symbol {
  color: #990099;
  top: clamp(9px, 2.5vmin, 10.5px);
  left: clamp(2.88px, 0.8vmin, 3.36px);
}
.keys .key.key-mode-ctrl .value.to-mode {
  bottom: clamp(9px, 2.5vmin, 10.5px);
  right: clamp(1.08px, 0.3vmin, 1.26px);
}

.keys .key .value {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.keys.eliminating :not(:last-child) .value,
.keys.eliminating .value.from-mode,
.keys:not(.eliminating) .value.to-mode {
  text-decoration: 1px line-through red;
}

.keys .key.candidate {
  outline: auto #6666ff;
}

.keys .key .count {
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 0 0 1px 2px;

  font-size: clamp(10.8px, 3vmin, 12.6px);
  color: #990099;
  text-align: left;
}
.keys.eliminating .key .count {
  display: none;
}

.commands {
  margin: clamp(10.8px, 3vmin, 12.6px) auto 0 auto;
  padding-right: 2%;
  width: 92%;
  text-align: center;
  font: normal clamp(14.4px, 4vmin, 16.8px) 'New Times Roman';
}

.commands .buttons {
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
}
.commands .buttons > :first-child {
  margin-right: auto;
  text-align: left;
}
.commands .buttons > :not(:first-child):not(:last-child) {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.commands .buttons > :last-child {
  margin-left: auto;
  text-align: right;
}

.commands #undo::before {
  content: '⎌'
}
.commands #givens-filled {
  color: navy;
  font-weight: bold;
}
.commands #clean::after {
  content: '⌫'
}

.commands .block {
  display: block;
  margin: clamp(3.6px, 1vmin, 4.2px);
  padding: clamp(3.6px, 1vmin, 4.2px) clamp(7.2px, 2vmin, 8.4px);
}

.commands .border {
  border: 1px outset #eaeaea;
  border-radius: clamp(3.6px, 1vmin, 4.2px);
}

.commands .pending .assumption {
  display: flex;
  text-align: left;

  border: 1px solid #eaeaea;
  width: auto;
}

.commands .pending .assumption button {
  display: block;
  margin: clamp(3.6px, 1vmin, 4.2px);
  padding: 0 clamp(5.4px, 1.5vmin, 6.3px) clamp(1.8px, 0.5vmin, 2.1px) clamp(5.4px, 1.5vmin, 6.3px);

  border: 1px outset #eaeaea;
  border-radius: clamp(3.6px, 1vmin, 4.2px);
}
.commands .pending .assumption button::after {
  content: '';
  display: inline-block;
  background: border-box center/125% no-repeat;
  position: relative;
  top: 25%;
  width: clamp(14.4px, 4vmin, 16.8px);
  height: clamp(14.4px, 4vmin, 16.8px);
}

.commands .pending .assumption.first button[data-action="accept"]::after {
  background-image: none;
}
.commands .pending .assumption button[data-action="accept"]::after {
  /* U+2B73 ⭳ */
  background-image: url('images/U2B73.down-arrow-to-bar.png');
}
.commands .pending .assumption button[data-action="reject"]::after {
  /* U+21A7 ↧ */
  background-image: url('images/U21A7.down-arrow-from-bar.png');
}
.commands .pending .assumption.last button[data-action="reject"]::after {
  background-image: none;
}

.commands .pending .assumption .block {
  margin: 1px 2px;
  text-align: left;
}
.commands .pending .assumption > :first-child {
  flex: 1.6;
}
.commands .pending .assumption > :not(:first-child) {
  flex: 1;
}

.commands .tentative select {
  margin: auto;
  background: #f2f2f2;
}

.footer {
  position: absolute;
  width: 100%;
  margin: 0.6vmin auto;
  text-align: center;
  font: clamp(10.8px, 3vmin, 12.6px) 'New Times Roman';
  color: #d0d0d0;
  top: 96%;
}
